# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

# packages needed in the builds
r_github_packages:
  - trinker/wakefield
  - njtierney/visdat

env:
  global:
    - _R_CHECK_FORCE_SUGGESTS_=false

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - Rscript -e 'covr::codecov()'
